body{
    background: url(images/waterdeep-background.jpg);
}
.container{
    display: flex;
    flex-direction: row;
}
.bar-left{
    flex: 1 1 0%;
    width:auto;
}
.bar-center{
    flex: 1 1 0%;
    width:auto;
}
.bar-right{
    flex: 1 1 0%;
    width:auto;
}
div.bar-center.title{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
}
#signature{
    text-align: center;
    font-size: 5vh;
    font-family: 'Hubballi', sans-serif;
    color: whitesmoke;
    margin-top: 3vh;
        display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
}
a{
    display: none;
}